<form class="col s12">
   <div class="row">
     <div class="input-field col s6">
       <input placeholder="Search" type="text" class="validate searchDatabase" ng-model="databaseSearch">
       <label for="first_name">Search Movies</label>
       <a class="btn-floating btn-large waves-effect waves-light purple" ng-click="searchMovieDatabase()"><i class="material-icons">?</i></a>
     </div>
     <div class="input-field col s6">
       <input id="last_name" type="text" class="validate">
       <label for="last_name">Search Your Movies</label>
       <a class="btn-floating btn-large waves-effect waves-light purple" ng-click="searchMovieDatabase()"><i class="material-icons">?</i></a>
     </div>
   </div>
 </form>

<div class="container">
<div class="row">
   <div class="card" ng-repeat="Info in movies[0]">
   <div class="col s4 ">
    <img class="poster" src={{Info.Poster}}>
     <h6>{{Info.Title}}</h6>
     <h6>{{Info.Year}}</h6>
     <a class="btn-floating btn-large waves-effect waves-light purple addMovie" ng-click ="addMovie(Info)"><i class="material-icons">Add</i></a>
     <div class="divider"></div> 
</div>
</div>
</div>
</div>