    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Scenester - scene and be scene</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Login</a></li>
        <li><a href="collapsible.html">what?</a></li>
      </ul>
    </div>
  </nav>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- We changed this by taking everything out of the navCtrl and placing them in the ng-href article-->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/login">Login</a></li>
        <li><a ng-href="#/items/new">New Item</a></li>
        <li><a ng-href="#/items/list">All Items</a></li>
        <li><a ng-href="#/logout">Logout</a></li>
      </ul>
    </div><! /.navbar-collapse -->
  <!-- </div>/.container-fluid
</nav> --> 